@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbff;
  --foreground: #638de5;
  --foreground-2: #747dbe;
  --active-button-color: #6063ff;
  --remove-button-bg-color: #a760ff;
  --custom-active-red-color: #ea484b;
  --drop-shadow-color: hsla(221, 71%, 64%, 0.293);
  --rows-drop-shadow: 0 2px 2px 1px var(--drop-shadow-color);
  --sellers-container-drop-shadow: 0 1px 4px 1px var(--drop-shadow-color);
  background-color: var(--background);  
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.main-container {
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.grid-metrics {
  @apply grid gap-y-2;
  .metrics-title {
    @apply text-[2rem] font-[700] text-center text-[black] tablet:text-[1.6rem] text-[--foreground];
  }
  .metrics-cells-container {
    @apply flex flex-col max-h-[400px] overflow-y-auto no-scrollbar py-[6px];
  }
}
thead {
  @apply sticky top-[0px];
  > .row-element {
    @apply my-[0] text-black;
  }
}
.row-element {
  @apply grid grid-cols-4 gap-x-2 text-center font-[550];
  @apply px-4 my-[6px] rounded-sm bg-white text-black text-sm mx-[1rem];
  @apply text-[1.2rem] tablet:text-[1rem] mobile:text-[0.6rem] text-[--foreground-2];
  box-shadow: var(--rows-drop-shadow);
  /* &:not(&:first-child){@apply text-[1.2rem] tablet:text-[1rem] mobile:text-[0.6rem] text-[--foreground-2] ;} */
}

.food-type-sellers-container {
  @apply flex flex-col items-center justify-center gap-y-2 w-[200px] mt-[2rem] px-[2rem] py-[6px];
  @apply rounded-[17px] bg-[white] shadow-[var(--sellers-container-drop-shadow)];
  box-shadow: var(--sellers-container-drop-shadow);
  > div:first-of-type {
    @apply text-[1rem] font-[700];
  }
  > div > div:nth-of-type(2) {
    @apply h-[50px] w-[50px] outline-[1px] border-black;
  }
}

.side-nav-bar {
  @apply flex flex-col fixed top-[0] left-[0] w-[100px] bg-[white] min-h-[100%] pt-[4rem] overflow-y-auto;
  box-shadow: 0 0 10px 1px var(--drop-shadow-color);
  @apply tablet:top-auto tablet:bottom-[0] tablet:pt-[0rem] tablet:w-[100%] tablet:flex-row  tablet:min-h-[fit-content];

  .side-nav-bar-button {
    @apply flex flex-col items-center justify-center py-[15px] gap-y-[0.5rem] tablet:py-[1rem];
    @apply w-[100%] border-none text-[var(--foreground)] bg-white;

    &:hover {
      background-color: var(--foreground) !important;
      @apply !text-white cursor-pointer;
    }
    > div {
      @apply text-center tablet:hidden;
    }
    transition: all 0.18s ease-in-out;
  }
}

.restaurant-sub-menu-container {
  @apply grid gap-2 grid-cols-4 grid-rows-2 p-[20px] mb-[10px] bg-white rounded-[8px];
  @apply tablet:p-[10px] tablet:w-[90dvw];
  @apply mobile:grid-cols-2 mobile:w-[90dvw];
  box-shadow: var(--sellers-container-drop-shadow);
}
.restaurant-sub-menu-button {
  @apply text-[--foreground] text-center text-[1.3rem] cursor-pointer rounded-[8px]  px-[35px] py-[25px] bg-white border-none;
  @apply tablet:text-[1rem] tablet:px-[5px];
  @apply mobile:text-[1.4rem] mobile:py-[30px] mobile:px-[10px];
  box-shadow: var(--sellers-container-drop-shadow);
  &:hover {
    @apply !text-white !bg-[--foreground];
  }
  transition: all 0.16s ease-in-out;
}
.footer-component {
  @apply fixed bottom-[20px] text-[--foreground] right-[50px];
  @apply tablet:bottom-[80px] mobile:text-center right-[none];
}
.restaurant-current-option-title {
  @apply flex gap-[1rem] text-[2rem] my-[10px] pl-[2rem];
  @apply mobile:flex mobile:pl-0 mobile:text-center mobile:justify-center;
  > span{ @apply font-semibold;}
}
.current-menu-items-container {
  @apply grid grid-cols-4 pt-[20px] pb-[40px] gap-[20px] max-h-[600px] px-[20px] overflow-y-scroll max-w-[100%] mb-[50px];
  @apply mobile:grid-cols-1 mobile-m:grid-cols-2 mobile:w-[90dvw] tablet:grid-cols-3;
  place-items: center;
 
}


.order-total-container {
  @apply flex flex-col items-center px-[20px] py-[10px] gap-x-[10px];
}
.order-items-container {
  @apply grid grid-cols-1 py-[20px] gap-y-[25px] overflow-y-scroll max-h-[400px] max-w-[100%];
  justify-items: center;
}

.interactable-order-item {
  @apply grid  text-[2rem] grid-rows-2 gap-[1rem] p-[10px] outline-[1px] outline-[black] rounded-[15px] w-[95%];
  outline: solid 2px var(--foreground);
  .remove-and-price-group {
    @apply flex items-center;
    justify-content: space-between;
  }
}
.order-item-remove-button {
  @apply text-[1.5rem] border-none px-[35px] py-[10px] rounded-[10px] text-white bg-[--remove-button-bg-color];
  &:active {
    @apply bg-[--custom-active-red-color];
  }
}
.order-item-quantity-group-menu {
  @apply flex gap-[10px];
  > button {
    @apply text-[--remove-button-bg-color] w-[40px] bg-white;
    outline: 2px solid;
    &:active {
      @apply text-white bg-[--remove-button-bg-color];
    }
  }
}
button {
  @apply hover:cursor-pointer;
  transition: all 0.14s ease-in-out;
}

.restaurant-components-main-container {
  @apply flex flex-col items-center;
}
.current-order-items-manager {
  @apply flex flex-col w-[600px] gap-[1rem] px-[40px] py-[40px] rounded-[8px] bg-white;
  box-shadow: 0 0 4px 4px var(--drop-shadow-color);
}

.order-buttons-group {
  @apply flex flex-col gap-[10px] w-full py-[10px];
}
.order-total-button {
  @apply text-[1.6rem] border-none rounded-[8px] py-[10px];
}
.order-total-button.continue-button {
  @apply text-white bg-[#DE5BFF];
  &:active {
    background-color: #6063ff;
  }
}

.order-total-button.cancel-button {
  @apply text-[#EA484B] bg-transparent;
  outline: 1px solid var(--custom-active-red-color);
  &:active {
    background-color: var(--custom-active-red-color);
    color: white;
  }
}

.line-separator {
  @apply flex rounded-[8px] h-[4px] w-full my-[20px] bg-[#DCE7FF];
}
.order-header-group {
  @apply flex flex-row justify-between;
  div:first-child {
    @apply text-[2rem] text-[black] font-semibold;
  }
}
.order-item-button {
  @apply border-none text-[2.2rem] rounded-[4px] px-[8px];
  outline: 1px solid;
}
.order-item-top-group {
  @apply flex w-full items-center text-center;
  justify-content: center;
  justify-content: space-between;
}

.order-total-group {
  @apply flex content-center w-full justify-between text-[2rem] text-black my-[10px];
}
.restaurant-main-food-menu-container {
  @apply mb-[4rem];
}

.order-tracking-button-container {
  @apply flex gap-x-[33px] px-[35px] py-[15px] rounded-[8px];
  box-shadow: 0 3px 10px 4px var(--drop-shadow-color);
}

.selection-button {
  --vertical-padding: 14px;
  @apply text-[--foreground] text-center text-[1.3rem] cursor-pointer rounded-[8px]  px-[35px] py-[--vertical-padding] bg-white border-none;
  @apply tablet:text-[1rem] tablet:px-[5px];
  @apply mobile:text-[1.4rem] mobile:py-[30px] mobile:px-[10px];
  box-shadow: var(--sellers-container-drop-shadow);
  &:hover {
    @apply !text-white !bg-[--foreground];
  }
  transition: all 0.16s ease-in-out;
}

.order-status {
  @apply flex gap-x-[10px];
  .order-complete {
    @apply text-[#4AC84A] place-self-center;
  }
}
