@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbff;
  --foreground: #638de5;
  --foreground-2: #747dbe;
  --active-button-color: #6063ff;
  --remove-button-bg-color: #a760ff;
  --custom-active-red-color: #ea484b;
  --drop-shadow-color: hsla(221, 71%, 64%, 0.293);
  --white-backdrop: rgba(255, 255, 255, 0.573);
  --rows-drop-shadow: 0 2px 2px 1px var(--drop-shadow-color);
  --sellers-container-drop-shadow: 0 1px 4px 1px var(--drop-shadow-color);
  background-color: var(--background);  
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.main-container {
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
}
.pos-container{
  @apply p-[0] justify-center;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  @apply hover:cursor-pointer;
  transition: all 0.14s ease-in-out;
}

.main-page {
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
}