@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbff;
  --foreground: #638de5;
  --foreground-2: #747dbe;
  --active-button-color: #6063ff;
  --remove-button-bg-color: #a760ff;
  --custom-active-red-color: #ea484b;
  --drop-shadow-color: hsla(221, 71%, 64%, 0.293);
  --rows-drop-shadow: 0 2px 2px 1px var(--drop-shadow-color);
  --sellers-container-drop-shadow: 0 1px 4px 1px var(--drop-shadow-color);
  background-color: var(--background);  
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.main-container {
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.grid-metrics {
  @apply grid gap-y-2;
  .metrics-title {
    @apply text-[2rem] font-[700] text-center text-[black] tablet:text-[1.6rem] text-[--foreground];
  }
  .metrics-cells-container {
    @apply flex flex-col max-h-[400px] overflow-y-auto no-scrollbar py-[6px];
  }
}
thead {
  @apply sticky top-[0px];
  > .row-element {
    @apply my-[0] text-black;
  }
}
.row-element {
  @apply grid grid-cols-4 gap-x-2 text-center font-[550];
  @apply px-4 my-[6px] rounded-sm bg-white text-black text-sm mx-[1rem];
  @apply text-[1.2rem] tablet:text-[1rem] mobile:text-[0.6rem] text-[--foreground-2];
  box-shadow: var(--rows-drop-shadow);
}

.food-type-sellers-container {
  @apply flex flex-col items-center justify-center gap-y-2 w-[200px] mt-[2rem] px-[2rem] py-[6px];
  @apply rounded-[17px] bg-[white] shadow-[var(--sellers-container-drop-shadow)];
  box-shadow: var(--sellers-container-drop-shadow);
  > div:first-of-type {
    @apply text-[1rem] font-[700];
  }
  > div > div:nth-of-type(2) {
    @apply h-[50px] w-[50px] outline-[1px] border-black;
  }
}
.restaurant-sub-menu-container {
  @apply grid gap-2 grid-cols-4 grid-rows-2 p-[20px] mb-[10px] bg-white rounded-[8px];
  @apply tablet:p-[10px] tablet:w-[90dvw];
  @apply mobile:grid-cols-2 mobile:w-[90dvw];
  box-shadow: var(--sellers-container-drop-shadow);
}
.restaurant-sub-menu-button {
  @apply text-[--foreground] text-center text-[1.3rem] cursor-pointer rounded-[8px]  px-[35px] py-[25px] bg-white border-none;
  @apply tablet:text-[1rem] tablet:px-[5px];
  @apply mobile:text-[1.4rem] mobile:py-[30px] mobile:px-[10px];
  box-shadow: var(--sellers-container-drop-shadow);
  &:hover {
    @apply !text-white !bg-[--foreground];
  }
  transition: all 0.16s ease-in-out;
}
.restaurant-current-option-title {
  @apply flex gap-[1rem] text-[2rem] my-[10px] pl-[2rem];
  @apply mobile:flex mobile:pl-0 mobile:text-center mobile:justify-center;
  > span{ @apply font-semibold;}
}
.current-menu-items-container {
  @apply grid grid-cols-4 pt-[20px] pb-[40px] gap-[20px] max-h-[600px] px-[20px] overflow-y-scroll max-w-[100%] mb-[50px];
  @apply mobile:grid-cols-1 mobile-m:grid-cols-2 mobile:w-[90dvw] tablet:grid-cols-3;
  place-items: center; 
}
button {
  @apply hover:cursor-pointer;
  transition: all 0.14s ease-in-out;
}

.restaurant-components-main-container {
  @apply flex flex-col items-center;
}
.restaurant-main-food-menu-container {
  @apply mb-[4rem];
}

.order-tracking-button-container {
  @apply flex gap-x-[33px] px-[35px] py-[15px] rounded-[8px];
  box-shadow: 0 3px 10px 4px var(--drop-shadow-color);
}

.selection-button {
  --vertical-padding: 14px;
  @apply text-[--foreground] text-center text-[1.3rem] cursor-pointer rounded-[8px]  px-[35px] py-[--vertical-padding] bg-white border-none;
  @apply tablet:text-[1rem] tablet:px-[5px];
  @apply mobile:text-[1.4rem] mobile:py-[30px] mobile:px-[10px];
  box-shadow: var(--sellers-container-drop-shadow);
  &:hover {
    @apply !text-white !bg-[--foreground];
  }
  transition: all 0.16s ease-in-out;
}