.current-order-items-manager {
    @apply flex flex-col w-[300px] gap-[1rem] p-[40px] rounded-[8px] bg-white ;
    @apply p-[20px];
    @apply mobile:w-full;
    box-shadow: 0 0 4px 4px var(--drop-shadow-color);
}
.order-header-group {
    @apply flex flex-col justify-between;
    .order-id {
        @apply text-lg text-[black] font-semibold;
        @apply tablet:text-[1.4rem] mobile:text-[1.2rem];
    }
}
.line-separator {
    @apply flex rounded-[8px] h-[4px] w-full my-[10px] bg-[#DCE7FF];
}
.order-items-container {
    @apply grid grid-cols-1 py-[20px] gap-y-[10px] overflow-y-scroll h-[200px] max-w-[100%];
    justify-items: center;
}
.order-total-container {
    @apply flex flex-col items-center justify-self-end;
}
.order-total-group {
    @apply flex content-center w-full justify-between text-[1.2rem] text-black my-[10px];
    @apply tablet:text-[1.5rem] mobile:text-[1.3rem];
}
.order-buttons-group {
    @apply flex flex-col gap-[10px] w-full py-[10px];
}
.order-total-button {
    @apply text-[1.6rem] border-none rounded-[8px] py-[10px];
}
.order-total-button.continue-button {
    @apply text-white bg-[#DE5BFF];

    &:active {
        background-color: #6063ff;
    }
}
.order-total-button.cancel-button {
    @apply text-[#EA484B] bg-transparent;
    outline: 1px solid var(--custom-active-red-color);
    &:active {
        background-color: var(--custom-active-red-color);
        color: white;
    }
}

.order-status-toggle-button{
    @apply btn text-white text-[1rem] max-w-[70%] self-center bg-[grey] border-none hover:bg-[--foreground];
    @apply mobile:max-w-full;
}

.order-status{
    @apply font-semibold text-[1.2rem] mb-[-30px];
}

.order-date{
    @apply flex self-start text-black text-[1rem] mt-[-10px];
}